
hh

<div class="file-manager w-[500px] " >
  <ul  >
    <ng-container *ngFor="let node of treeData">
      <li (click)="test(node)">
        <span class="hover:bg-slate-200 px-2 block">
          <span (click)="toggleExpand(node)" *ngIf="node.children?.length > 0" class="text-slate-700 font-semibold hover:text-cyan-700">
            @if (node.expanded) {
              <i class="fa-solid fa-sort-down"></i>
            }
            @else{
              <i class="fa-solid fa-caret-right"></i>
               }
       
              {{ node.name }}
     
          </span>
        </span>
       <ul *ngIf="node.expanded">
          <ng-container *ngFor="let child of node.children">
            <li>
  
              <app-tree-node [node]="child"></app-tree-node>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>